* {
	box-sizing: border-box;

	*::before, *::after {
		box-sizing: border-box;
	}

	&:not(iframe) {
		transition: 0.25s ease;
		transition-property: background, border, color, left, margin, padding, right, opacity;
	}
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

input[type="submit"]:focus {
	outline: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img,
video,
audio {
	max-width: 100%;
	height: auto;
}

label,
button,
input,
select {
	cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

label[for] {
	cursor: pointer;
}

abbr[title],
acronym[title],
dfn {
	cursor: help;
}

textarea {
	resize: vertical;
}

[disabled] {
	cursor: default;
}

[aria-disabled="true"] {
	cursor: default;
	pointer-events: none;
}

.no-js button[type="button"] {
	display: none;
}

sub,
sup {
	line-height: 0;
}

img {
	vertical-align: middle;
}

a {
	text-decoration: none;
	cursor: pointer;
	
	&:not([href]){
		cursor: initial;
	}
}

button, input, label, select {
	cursor: auto;
}
/*---------------------------------------------*/
.title {
	text-transform: uppercase;

	@include mobile {
		font-size: pxToRem(25);
		font-weight: 600;
		line-height: pxToRem(38);
	}

	@include tablet {
		font-size: pxToRem(31.25);
		font-weight: 700;
		line-height: pxToRem(47);
	}

	@include desktop {
		font-size: pxToRem(31.25);
		font-weight: 700;
		line-height: pxToRem(47);
	}
}

.title-default {
	text-transform: uppercase;
	color: $color-grey-900;

	@include mobile {
		line-height: pxToRem(38);
		font-size: pxToRem(25);
		font-weight: 600;
	}

	@include tablet {
		line-height: pxToRem(47);
		font-size: pxToRem(31.25);
		font-weight: 700;
	}

	@include desktop {
		line-height: pxToRem(47);
		font-size: pxToRem(31.25);
		font-weight: 700;
	}
}

.title-contrast {
	text-transform: uppercase;
	color: $color-secondary-main;


	@include mobile {
		line-height: pxToRem(38);
		font-size: pxToRem(25);
		font-weight: 600;
	}

	@include tablet {
		line-height: pxToRem(47);
		font-weight: 700;
		font-size: pxToRem(31.25);
	}

	@include desktop {
		line-height: pxToRem(47);
		font-weight: 700;
		font-size: pxToRem(31.25);
	}
}

.subtitle {
	font-size: $typography-subtitle-font-size;
	font-weight: $typography-subtitle-font-weight;
	line-height: pxToRem(24);
}

.subtitle-default {
	font-size: $typography-subtitle-font-size;
	font-weight: $typography-subtitle-font-weight;
	line-height: pxToRem(24);
	color: $color-text-primary;
}

.subtitle-contrast {
	font-size: $typography-subtitle-font-size;
	font-weight: $typography-subtitle-font-weight;
	line-height: pxToRem(24);
	color: $color-text-divider;
}

.button {
	font-family: 'JosefinSans';
	text-transform: uppercase;
	border: none;
	border-radius: pxToRem(4);
	background: $color-info-main;
	color: $color-secondary-main;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}

	@include mobile {
		padding: pxToRem(12) pxToRem(6);
		font-size: pxToRem(10);
	}

	@include tablet {
		padding: pxToRem(15) pxToRem(16);
		font-size: pxToRem(20);
		
	}

	@include desktop {
		padding: pxToRem(15) pxToRem(16);
		font-size: pxToRem(20);
	}
}

.link {
	color: $color-grey-900;
	&:hover {
		text-decoration: underline;
		color: $color-primary-main
	}
}

.wrapper {
	overflow-x: hidden;

	@include mobile {
		padding: pxToRem(60) pxToRem(16);
	}

	@include tablet {
		padding: pxToRem(120) pxToRem(40);
	}

	@include desktop {
		padding: pxToRem(120) pxToRem(135);
	}
}

.section-container {

	@include mobile {
		padding: 0 pxToRem(16);
	}

	@include tablet {
		padding: 0 pxToRem(40);
	}

	@include desktop {
		padding: 0 pxToRem(135);
	}
}

.section-wrapper {

	@include mobile {
		padding: pxToRem(60) 0;
	}

	@include tablet {
		padding: pxToRem(120) 0;
	}

	@include desktop {
		padding: pxToRem(120) 0;
	}
}

.section-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include mobile {
		gap: pxToRem(18);
	}

	@include tablet {
		gap: pxToRem(18);
	}

	@include desktop {
		gap: pxToRem(23);
	}
}

.header-default {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: pxToRem(18);
}