$base-size: 16;

@function pxToRem($size, $postfix: rem) {
  @return $size / $base-size * 1 + $postfix;
    //@return $size + px;
}

// Colors
$color-primary-main: #5956E9;
$color-secondary-main: #ffffff;
$color-grey-900: #232233;
$color-text-primary: #6C6C72;
$color-text-divider: #ffffff;
$color-info-main: #5851EA;

// Color for Dark-theme
$color-white: #f4f4f4;
$color-white-gray: #c8c8c8;
$color-light-gray: #373737;
$color-black-gray: #27292d;
$color-dark: #111111;
$color-purple: #a0a4d9;

:root {
    --color-primary-main: #{$color-primary-main};
    --color-secondary-main: #{$color-secondary-main};
    --color-grey-900: #{$color-grey-900};
    --color-text-primary: #{$color-text-primary};
    --color-text-divider: #{$color-text-divider};
    --color-info-main: #{$color-info-main};
}

//Shadows
$shadows-card: 0px 1px 10px rgba(0, 0, 0, 0.1);
$shadows-block: 0px 10px 100px rgba(0, 0, 0, 0.24);
$shadows-card-white: 0px 1px 10px rgb(236, 236, 236);
$shadows-block-white: 0px 10px 100px rgb(236, 236, 236);
$shadows-card-dark: 0px 1px 10px rgb(0, 0, 0,);
$shadows-block-dark: 0px 10px 100px rgba(0, 0, 0, 0.496);

// Media queries

$desktop-extra-large: pxToRem(1536, em);
$desktop-extra: pxToRem(1440, em);
$desktop: pxToRem(992, em);
$tablet: pxToRem(768, em);
$mobile: pxToRem(576, em);
$medium-mobile: pxToRem(450, em);
$min-medium-mobile: pxToRem(449, em);
$small-mobile: pxToRem(320, em);

// Custom media queries
$max-small-mobile: pxToRem(575, em);
$max-mobile: pxToRem(767, em);
$max-tablet: pxToRem(1439, em);
$max-desktop: pxToRem(1999, em);
$max-desktop-extra: pxToRem(1535, em);

// Font sizes, weights, etc.
$typography-font-size: pxToRem(15);
$typography-font-weight: 400;

$typography-letter-spacing: 0.03em;

// Line-height
$typography-h3-font-size: pxToRem(20);
$typography-h3-font-weight: 600;
$typography-h2-font-size: pxToRem(31.25);
$typography-h2-font-weight: 700;

$typography-subtitle-font-size: pxToRem(16);
$typography-subtitle-font-weight: 400;

$typography-button-font-size: pxToRem(10);
$typography-button-font-weight: 600;
