.blog {

    @include dark-theme {
        background: $color-black-gray;
    }

    &__header {
        
        @include mobile {
            margin-bottom: pxToRem(37);
        }

        @include tablet {
            margin-bottom: pxToRem(39);
        }

        @include desktop {
            margin-bottom: pxToRem(59);
        }
    }

    &____title-text {
        text-align: center;
    }

    &__subtitle {
        text-align: center;

        @include mobile {
            max-width: pxToRem(300);

            :nth-child(2) {
                display: none;
            }

            :nth-child(3) {
                display: none;
            }
        }

        @include tablet {
            max-width: pxToRem(450);
            
            :nth-child(1) {
                display: none;
            }

            :nth-child(3) {
                display: none;
            }
        }

        @include desktop {
            max-width: pxToRem(601);
            
            :nth-child(1) {
                display: none;
            }

            :nth-child(2) {
                display: none;
            }
        }
    }
}
.carts-blog {

    &__container {
        display: flex;
        flex-wrap: wrap;

        @include mobile {
            flex-direction: column;
            align-items: center;
            gap: pxToRem(40);

            @include print {
                flex-direction: row;
                gap: pxToRem(20);
                justify-content: space-between;
                align-items: start;

            }
        }

        @include tablet {
            justify-content: center;
            gap: pxToRem(24);
        }

        @include desktop {
            justify-content: center;
            gap: pxToRem(30);
        }
    }

    &__cart {
        border-radius: pxToRem(10);
        box-shadow: $shadows-card;

        @include mobile {
            max-width: pxToRem(343);

            @include print {
                max-width: pxToRem(200);
            }
        }

        @include tablet {
            max-width: pxToRem(213);
            overflow: hidden;
        }

        @include desktop {
            max-width: pxToRem(370);
        }

        @include dark-theme {
            background: $color-light-gray;
            box-shadow: $shadows-card-dark;
        }
    }

    &__cart-preview {
        height: pxToRem(228);
        position: relative;

        @include print {
            height: auto;
        }
    }

    &__cart-image {
        border-top-left-radius: pxToRem(10);
        border-top-right-radius: pxToRem(10);
        max-width: 100%;

        @include tablet {
            position: absolute;
            left: calc(50% - 185px);
            top: 0;
            min-width: pxToRem(370);
        }

        @include dark-theme {
            opacity: 0.8;
        }
    }

    &__cart-info {

        @include mobile {
            padding: pxToRem(30) pxToRem(18);
        }

        @include tablet {
            padding: pxToRem(30) pxToRem(18);
        }

        @include desktop {
            padding: pxToRem(40) pxToRem(18) pxToRem(36) pxToRem(18);
        }
    }

    &__info-title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: pxToRem(20);
        line-height: pxToRem(30);
        color: $color-grey-900;

        @include print {
            font-size: pxToRem(16);
            line-height: pxToRem(20);
        }

        @include mobile {
            margin-bottom: pxToRem(18);
        }

        @include tablet {
            margin-bottom: pxToRem(18);
        }

        @include desktop {
            margin-bottom: pxToRem(10);
        }

        @include dark-theme {
            color: $color-white;
        }
    }

    &__info-description {

        @include mobile {
            margin-bottom: pxToRem(19.5);

            @include print {
                margin: 0;
            }
        }

        @include tablet {
            margin-bottom: pxToRem(37.5);
        }

        @include desktop {
            margin-bottom: pxToRem(28);
        }
    }

    &__btn-link {
        padding: pxToRem(20) pxToRem(20) pxToRem(20) 0;
        text-decoration: underline;
        text-transform: uppercase;
        font-size: pxToRem(20);
        font-weight: 600;
        line-height: pxToRem(26);
        color: $color-info-main;

        @include print {
            display: none;
        }

        &:hover {
            color: $color-purple;
            
            @include dark-theme {
                color: $color-primary-main;
            }
        }

        @include dark-theme {
            color: $color-purple;
        }
    }
}