.customers {
    
    @include print {
        display: none;
    }

    &__heading {
        text-align: center;

        @include mobile {
            margin-bottom: pxToRem(20);
        }

        @include tablet {
            margin-bottom: pxToRem(39);
        }

        @include desktop {
            margin-bottom: pxToRem(54);
        }
    }

    &__subtitle {

        @include mobile {
            max-width: pxToRem(300);
            
            :nth-child(2), 
            :nth-child(3) {
                display: none;
            }
        }

        @include tablet {
            max-width: pxToRem(450);
            
            :nth-child(1), 
            :nth-child(3) {
                display: none;
            }
        }

        @include desktop {
            max-width: pxToRem(601);
            
            :nth-child(1), 
            :nth-child(2) {
                display: none;
            }
        }
    }

    &__slider-container {
        display: flex;
        flex-wrap: nowrap;

        @include mobile {
            overflow: auto;
            padding: 0 pxToRem(16);
            gap: pxToRem(40);
        }

        @include tablet {
            position: relative;
            justify-content: center;
            align-items: center;
            height: pxToRem(250);
            margin-bottom: pxToRem(60);
        }

        @include desktop {
            position: relative;
            justify-content: center;
            align-items: center;
            height: pxToRem(370);
            gap: pxToRem(31);
            margin-bottom: pxToRem(52);
        }
    }

    &__slider-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $shadows-block;
        border-radius: pxToRem(10);
        background: $color-secondary-main;

        @include mobile {
            min-width: pxToRem(343);
            padding: pxToRem(20) pxToRem(9) pxToRem(18) pxToRem(9);
            margin-bottom: pxToRem(40);
            margin-top: pxToRem(10);
        }

        @include tablet {
            position: relative;
            min-width: pxToRem(450);
            height: pxToRem(210);

            .customers__info-status {
                margin-bottom: pxToRem(10);
            }

            &:nth-child(2) {
                left: pxToRem(106);
            }

            &:nth-child(3) {
                left: pxToRem(-106);
            }
        }

        @include desktop {
            position: relative;
            min-width: 570px;
            height: 330px;
            max-width: pxToRem(570);
            height: pxToRem(330);
            padding: pxToRem(41) pxToRem(38) pxToRem(0) pxToRem(37);
        }

        @include dark-theme {
            background: $color-light-gray;
            box-shadow: $shadows-card-dark;
        }
    }

    &__photo {

        @include mobile {
            margin-bottom: pxToRem(13);
        }

        @include tablet {
            margin-bottom: pxToRem(18);
        }

        @include desktop {
            margin-bottom: pxToRem(19);
        }
    }

    &__photo-image {

        @include mobile {
            width: pxToRem(50);
            height: pxToRem(50);
        }

        @include tablet {
            width: pxToRem(50);
            height: pxToRem(50);
            
        }

        @include desktop {
            width: pxToRem(96);
            height: pxToRem(96);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__info-name {
        text-transform: uppercase;
        color: $color-grey-900;

        @include mobile {
            font-size: pxToRem(25);
            font-weight: 600;
            line-height: pxToRem(38);
        }

        @include tablet {
            font-size: pxToRem(25);
            font-weight: 600;
            line-height: pxToRem(27);
        }

        @include desktop {
            margin-bottom: pxToRem(1);
            font-size: pxToRem(31.25);
            font-weight: 700;
            line-height: pxToRem(47);
        }

        @include dark-theme {
            color: $color-white;
        }
    }

    &__info-status {
        text-transform: uppercase;
        color: $color-grey-900;

        @include mobile {
            margin-bottom: pxToRem(16);
            line-height: pxToRem(24);
        }

        @include tablet {
            margin-bottom: pxToRem(19);
            line-height: pxToRem(24);
            font-size: pxToRem(14);
        }

        @include desktop {
            margin-bottom: pxToRem(8);
            font-weight: 600;
            font-size: pxToRem(20);
            line-height: pxToRem(30);
        }

        @include dark-theme {
            color: $color-white;
        }
    }

    &__info-description {
        line-height: pxToRem(24);
        color: $color-text-primary;

        @include tablet {
            width: pxToRem(374);
        }

        @include desktop {
            max-width: pxToRem(640);
        }

        @include dark-theme {
            color: $color-white-gray;
        }
    }

    &__info-description-alt {

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }
    }
}

.slider-button {

    @include mobile {
        display: none;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: pxToRem(14);
        width: pxToRem(300);
        margin: 0 auto;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: pxToRem(2);
    }

    &__item-inner {
        width: pxToRem(16);
        height: pxToRem(16);
        border-radius: 50%;
        background: $color-secondary-main;
    }
}

.false-checkbox {
    display: none;
    &:checked {
        &[id="button-slider-1"] {
            ~ .customers__slider {
                .slider-button__item:nth-child(1) {
                    outline: 1px solid $color-secondary-main;
                    border-radius: 50%;
                }
                .customers__slider-card {
                    @include tablet {
                        &:nth-child(1) {
                            animation: scroll-mid .5s ease-in-out 0s 1 normal forwards;
                            .customers__info-status {
                                margin-bottom: pxToRem(19);
                            }
                        }
                        &:nth-child(2) {
                            animation: scroll-left .7s ease-in-out 0s 1 normal forwards;
                        }
                        &:nth-child(3) {
                            animation: scroll-right .7s ease-in-out 0s 1 normal forwards;
                        }
                    }

                    @include desktop {
                        &:nth-child(1) {
                            animation: scroll-mid-des .7s ease-in-out 0s 1 normal forwards;
                            .customers__info-description-slider {
                                display: inline;
                            }
                        }
                        &:nth-child(2) {
                            animation: scroll-left-des .7s ease-in-out 0s 1 normal forwards;
                            .customers__info-description-slider {
                                display: none;
                            }
                        }
                        &:nth-child(3) {
                            animation: scroll-right-des .7s ease-in-out 0s 1 normal forwards;
                            .customers__info-description-slider {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        &[id="button-slider-2"] {
            ~ .customers__slider {
                .slider-button__item:nth-child(2) {
                    outline: 1px solid $color-secondary-main;
                    border-radius: 50%;
                }
                .customers__slider-card {
                    @include tablet {
                        &:nth-child(1) {
                            animation: scroll-left .7s ease-in-out 0s 1 normal forwards;
                        }
                        &:nth-child(2) {
                            animation: scroll-mid .5s ease-in-out 0s 1 normal forwards;
                            .customers__info-status {
                                margin-bottom: pxToRem(19);
                            }
                        }
                        &:nth-child(3) {
                            animation: scroll-right .7s ease-in-out 0s 1 normal forwards;
                        }
                    }

                    @include desktop {
                        &:nth-child(1) {
                            animation: scroll-left-des .7s ease-in-out 0s 1 normal forwards;
                            .customers__info-description-slider {
                                display: none;
                            }
                        }
                        &:nth-child(2) {
                            animation: scroll-mid-des .7s ease-in-out 0s 1 normal forwards;
                            .customers__info-description-slider {
                                display: inline;
                            }
                        }
                        &:nth-child(3) {
                            animation: scroll-right-des .7s ease-in-out 0s 1 normal forwards;
                            .customers__info-description-slider {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        &[id="button-slider-3"] {
            ~ .customers__slider {
                .slider-button__item:nth-child(3) {
                    outline: 1px solid $color-secondary-main;
                    border-radius: 50%;
                }
                .customers__slider-card {
                    @include tablet {
                        &:nth-child(1) {
                            animation: scroll-left .7s ease-in-out 0s 1 normal forwards;
                        }
                        &:nth-child(2) {
                            animation: scroll-right .7s ease-in-out 0s 1 normal forwards;
                        }
                        &:nth-child(3) {
                            animation: scroll-mid .5s ease-in-out 0s 1 normal forwards;
                            .customers__info-status {
                                margin-bottom: pxToRem(19);
                            }
                        }
                    }

                    @include desktop {
                        &:nth-child(1) {
                            animation: scroll-left-des .7s ease-in-out 0s 1 normal forwards;
                            .customers__info-description-slider {
                                display: none;
                            }
                        }
                        &:nth-child(2) {
                            animation: scroll-right-des .7s ease-in-out 0s 1 normal forwards;
                            .customers__info-description-slider {
                                display: none;
                            }
                        }
                        &:nth-child(3) {
                            animation: scroll-mid-des .7s ease-in-out 0s 1 normal forwards;
                            .customers__info-description-slider {
                                display: inline;
                            }
                        }
                    }
                }
            }
        }
    }
}
// ====TABLET=========

@keyframes scroll-right {
    0%{
        opacity: 0;
        transform: scale(110%) translateX(35px);
        left: 0;
    }
    100% {
        transform: scale(100%) translateX(0);
        opacity: 1;
        left: pxToRem(-106);
    }
}

@keyframes scroll-mid {
    0% {
        position: absolute;
        left: calc(50% - 225px);
        top: calc(50% - 105px);
        z-index: 4;
        transform: scale(50%);
    }
    50% {
        
    }
    100% {
        position: absolute;
        left: calc(50% - 225px);
        top: calc(50% - 125px);
        height: pxToRem(250);
        z-index: 4;
        padding: pxToRem(22) pxToRem(20) pxToRem(18) pxToRem(20);
    }
}

@keyframes scroll-left {
    0%{
        opacity: 0;
        transform: scale(110%) translateX(-35px);
        left: 0;
    }
    100% {
        transform: scale(100%) translateX(0);
        opacity: 1;
        left: pxToRem(106);
    }
}

// =====desktop=============

@keyframes scroll-right-des {
    0%{
        opacity: 0;
        transform: scale(110%) translateX(pxToRem(50));
    }
    100% {
        transform: scale(100%) translateX(0);
        opacity: 1;
    }
}

@keyframes scroll-mid-des {
    0% {
        position: absolute;
        left: calc(50% - 285px);
        top: calc(50% - 165px);
        z-index: 4;
        opacity: 0;
    }
    50% {
        transform: scale(110%);
    }
    100% {
        transform: scale(100%);
        opacity: 1;
        position: absolute;
        left: calc(50% - 385px);
        top: calc(50% - 179px);
        min-width: pxToRem(770);
        height: pxToRem(357);
        z-index: 4;
        padding: pxToRem(41) pxToRem(20) pxToRem(42) pxToRem(20);
    }
}

@keyframes scroll-left-des {
    0%{
        opacity: 0;
        transform: translateX(pxToRem(-50));
    }
    100% {
        transform: scale(100%) translateX(0);
        opacity: 1;
    }
}
