.features {

    &__background {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../../../img/Background\ Image.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__header {

        @include mobile {
            margin-bottom: pxToRem(30);
        }
        
        @include tablet {
            margin-bottom: pxToRem(58);
        }
        
        @include desktop {
            margin-bottom: pxToRem(58);
            }
    }

    &__subtitle {
        text-align: center;

        @include mobile {
            max-width: pxToRem(300);

            :nth-child(2) {
                display: none;
            }

            :nth-child(3) {
                display: none;
            }
        }

        @include tablet {
            max-width: pxToRem(450);

            :nth-child(1) {
                display: none;
            }

            :nth-child(3) {
                display: none;
            }
        }

        @include desktop {
            max-width: pxToRem(600);

            :nth-child(1) {
                display: none;
            }

            :nth-child(2) {
                display: none;
            }
        }
    }
}

.content {

    &__wrapper {

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: pxToRem(35);
        }
        
        @include tablet {
            display: grid;
            grid-template-columns: 1fr pxToRem(214) 1fr;
            grid-template-rows: repeat(4, auto);
            justify-items: center;
            row-gap: pxToRem(48);
            column-gap: pxToRem(18);
        }
        
        @include desktop {
            display: grid;
            grid-template-columns: 1fr pxToRem(375) 1fr;
            grid-template-rows: repeat(4, auto);
            justify-items: center;
            row-gap: pxToRem(55);
            column-gap: pxToRem(50);
        }
    }

    &__section {
        
        @include mobile {
            text-align: center;
            max-width: pxToRem(225);
        }
        
        @include tablet {
            display: flex;
            flex-direction: column;
        }
        
        @include desktop {
            display: flex;
            flex-direction: column;
        }
    }

    &__section-icon {
        max-width: pxToRem(50);
        height: pxToRem(50);

        @include mobile {
            margin: 0 auto;
            margin-bottom: pxToRem(30);
        }
        
        @include tablet {
            margin-bottom: pxToRem(30);
        }
    }

    &__section-title {
        text-transform: uppercase;
        color: $color-text-divider;
        margin-bottom: pxToRem(18);
        font-weight: 600;

        @include mobile {
            letter-spacing: pxToRem(0.7);
            line-height: pxToRem(30);
        }
        
        @include tablet {
            letter-spacing: pxToRem(0.8);
            line-height: pxToRem(30);
        }
        
        @include desktop {
            line-height: pxToRem(38);
            font-size: pxToRem(25);
        }
    }

    &__section-subtitle {
        line-height: pxToRem(24);
        color: $color-text-divider;
    }

    &__interface {

        @include mobile {
            padding-top: pxToRem(19);
            padding-bottom: pxToRem(68);
        }
        
        @include tablet {
            grid-row: 2/4;
        }
        
        @include desktop {
            grid-row: 2/4;
        }
    }

    &__interface-image {
        border-radius: pxToRem(40);
        box-shadow: pxToRem(40) pxToRem(40) pxToRem(100) #18303F80;

        @include mobile {
            width: pxToRem(214);
            height: pxToRem(468);
        }
        
        @include tablet {
            width: pxToRem(214);
            height: pxToRem(468);
        }
        
        @include desktop {
            width: pxToRem(375);
            height: pxToRem(812);
        }
    }
}

.comment {

    @include tablet {
        grid-column: 2;
        grid-row: 1;
        margin-bottom: pxToRem(7.5);
        text-align: center;

        .content__section-icon {
            align-self: center;
        }
    }

    @include desktop {
        grid-column: 2;
        grid-row: 1;
        text-align: center;

        .content__section-icon {
            align-self: center;
            margin-bottom: pxToRem(22);
        }

        .content__section-subtitle {
            max-width: pxToRem(297);
        }
    }
}

.vector {

    @include tablet {
        grid-column: 1;
        grid-row: 3;
        margin-top: pxToRem(3);
        text-align: right;

        .content__section-icon {
            align-self: end;
        }
    }

    @include desktop {
        grid-column: 1;
        grid-row: 3;
        align-self: end;
        text-align: end;
        margin-bottom: pxToRem(59);

        .content__section-icon {
            align-self: end;
            margin-bottom: pxToRem(22);
        }
    }
}

.telemarketer {

    @include tablet {
        grid-column: 1/4;
        grid-row: 4;
        text-align: center;

        .content__section-icon {
            align-self: center;
        }

        .content__section-subtitle {
            margin: 0 auto;
            max-width: pxToRem(297);
        }
    }

    @include desktop {
        grid-column: 1/4;
        grid-row: 4;
        margin-top: pxToRem(5);
        text-align: center;

        .content__section-icon {
            margin-bottom: pxToRem(30);
            align-self: center;
        }

        .content__section-title {
            font-size: pxToRem(20);
            line-height: pxToRem(30);
        }

        .content__section-subtitle {
            margin: 0 auto;
            max-width: pxToRem(297);
        }
    }
}

.eye-scanner {

    @include tablet {
        grid-column: 3;
        grid-row: 3;
        margin-top: pxToRem(3);
    }

    @include desktop {
        grid-column: 3;
        grid-row: 3;
        align-self: end;
        margin-bottom: pxToRem(60);

        .content__section-icon {
            margin-bottom: pxToRem(22);
        }
    }
}

.cell-phone {

    @include tablet {
        grid-column: 3;
        grid-row: 2;
        margin-top: pxToRem(17);
    }

    @include desktop {
        grid-column: 3;
        grid-row: 2;
        margin-top: pxToRem(60);

        .content__section-icon {
            margin-bottom: pxToRem(22);
        }
    }
}

.browser {

    @include tablet {
        grid-column: 1;
        grid-row: 2;
        margin-top: pxToRem(17);
        text-align: right;

        .content__section-icon {
            align-self: end;
        }
    }

    @include desktop {
        grid-column: 1;
        grid-row: 2;
        margin-top: pxToRem(60);
        text-align: right;

        .content__section-icon {
            align-self: end;
            margin-bottom: pxToRem(22);
        }
    }
}