.hero {
    
    &__container {
        display: flex;
        justify-content: center;

        @include mobile {
            padding: pxToRem(188) 0 pxToRem(131) 0;

            @include print {
                padding: pxToRem(100) 0;
            }
        }

        @include tablet {
            padding: pxToRem(380) 0 pxToRem(229) 0;
        }

        @include desktop {
            padding: pxToRem(216) 0 pxToRem(86) 0;
        }
    }
    
    &__content {
        display: flex;

        @include mobile {
            flex-direction: column;
            align-items: center;
            gap: pxToRem(40);
        }

        @include tablet {
            width: pxToRem(688);
            align-items: end;
            gap: pxToRem(55);
        }

        @include desktop {
            width: pxToRem(1170);
            align-items: end;
            gap: pxToRem(122)
        }
    }

    &__card {

        @include mobile {
            padding-left: pxToRem(20);
        }
    
        @include tablet {
            padding-left: pxToRem(17);
        }
    
        @include desktop {
            padding-left: pxToRem(40);
            padding-bottom: pxToRem(82);
        }
    }

    &__phone {

        @include print {
            display: none;
        }

        @include tablet {
            flex: auto;
        }
        
        @include desktop {
            flex: auto;
            padding-bottom: pxToRem(15);
        }
    }

    &__image-phone {

        @include mobile {
            max-width: pxToRem(267);
            max-height: pxToRem(511);
        }
        
        @include tablet {
            max-width: pxToRem(217);
            max-height: pxToRem(415);
        }
        
        @include desktop {
            max-width: pxToRem(370);
            max-height: pxToRem(707);
        }
    }
}

.card {

    &__border {

        @include mobile {
            max-width: pxToRem(323);
            padding: pxToRem(10) 0;
            border: pxToRem(10) solid #7572FF;
        }
        
        @include tablet {
            width: pxToRem(374);
            padding: pxToRem(14) 0 pxToRem(12) 0;
            border: pxToRem(18) solid #7572FF;
        }
        
        @include desktop {
            width: pxToRem(570);
            padding: pxToRem(32) 0;
            margin-left: pxToRem(12);
            border: pxToRem(20) solid #7572FF;
        }
        @include dark-theme {
            border-color: $color-purple;
        }
    }

    &__content {
        position: relative;
        background: $color-secondary-main;

        @include print {
            border: pxToRem(1) solid $color-dark;
        }

        @include mobile {
            max-width: pxToRem(323);
            padding: pxToRem(30) pxToRem(18) pxToRem(20) pxToRem(18);
            right: pxToRem(30);
            margin-right: pxToRem(-20);
        }

        @include tablet {
            max-width: pxToRem(356);
            padding: pxToRem(15) pxToRem(18) pxToRem(14) pxToRem(18);
            right: pxToRem(35);
            margin-right: pxToRem(-18);
        }

        @include desktop {
            max-width: pxToRem(570);
            padding: pxToRem(41) pxToRem(30) pxToRem(40) pxToRem(30);
            right: pxToRem(72);
            margin-right: pxToRem(-40);
        }

        @include dark-theme {
            background: $color-light-gray;
            box-shadow: pxToRem(5) pxToRem(5) pxToRem(10) $color-dark;
        }
    }

	&__title {
            color: $color-info-main;
            text-transform: uppercase;

            @include mobile {
                margin-bottom: pxToRem(13);
                font-size: pxToRem(25);
                line-height: pxToRem(38);
                font-weight: 600;
            }

            @include tablet {
                margin-bottom: pxToRem(7);
                font-size: pxToRem(31.25);
                line-height: pxToRem(47);
                font-weight: 700;
            }

            @include desktop {
                margin-bottom: pxToRem(17);
                font-size: pxToRem(48.83);
                line-height: pxToRem(63);
                font-weight: 700;
            }

            @include dark-theme {
                color: $color-purple;
            }
		}

    &__subtitle {
        @include mobile {
            margin-bottom: pxToRem(24);
        }
        
        @include tablet {
            margin-bottom: pxToRem(16);
        }
        
        @include desktop {
            margin-bottom: pxToRem(46);
        }

        @include dark-theme {
            color: $color-white-gray;
        }
    }

    &__subtitle-alt {
        @include mobile {
            display: none;
        }
        
        @include tablet {
            display: none;
        }
        
        @include desktop {
            display: inline;
        }
    }

    &__footer-download {
        
    }

    &__title-download {
            text-transform: uppercase;
            font-weight: 600;

            @include mobile {
                margin-bottom: pxToRem(19);
                font-size: pxToRem(20);
                line-height: pxToRem(30);
            }
            
            @include tablet {
                margin-bottom: pxToRem(23);
                font-size: pxToRem(20);
                line-height: pxToRem(30);
            }
            
            @include desktop {
                margin-bottom: pxToRem(5);
                font-size: pxToRem(25);
                line-height: pxToRem(38);
            }
            
            @include dark-theme {
                color: $color-white;
            }

            @include print {
                display: none;
            }
        }

	&__network {
            display: flex;
            flex-wrap: wrap;

            @include mobile {
                gap: pxToRem(10);
            }

            @include tablet {
                gap: pxToRem(14);
            }

            @include desktop {
                gap: pxToRem(14);
            }

            @include print {
                display: none;
            }
		}

	&__network-image {

        @include mobile {
            max-width: pxToRem(108);
        }

        @include tablet {
            max-width: pxToRem(149);
        }

        @include desktop {
            max-width: pxToRem(151);
        }
	}
}