.interface {
    @include print {
        display: none;
    }

    @include dark-theme {
        background: $color-black-gray;
    }

    &__heading {

        @include mobile {
            margin-bottom: pxToRem(38);
        }
        
        @include tablet {
            margin-bottom: pxToRem(59);
        }
        
        @include desktop {
            margin-bottom: pxToRem(59);
        }
    }

    &__title {
        text-align: center;

        @include mobile {
            span {
                display: block;
            }
        }
        
        @include tablet {
            span {
                display: block;
            }
        }
    }

    &__subtitle {
        text-align: center;
        
        @include mobile {
            max-width: pxToRem(300);

            :nth-child(2), 
            :nth-child(3) {
                display: none;
            }
        }

        @include tablet {
            max-width: pxToRem(450);
            
            :nth-child(1), 
            :nth-child(3) {
                display: none;
            }
        }

        @include desktop {
            max-width: pxToRem(600);
            
            :nth-child(1), 
            :nth-child(2) {
                display: none;
            }
        }
    }
}

.slider {

    &__container {
        position: relative;

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        &::before, 
        &::after  {
            content: "";
            position: absolute;
            background: $color-text-divider;

            @include dark-theme {
                background: $color-black-gray;
                }

            @include mobile {
                top: calc(50% - 280px);
                width: 0;
                height: pxToRem(500);
                box-shadow: 0 0 pxToRem(20) pxToRem(30) $color-text-divider;

                @include dark-theme {
                    box-shadow: 0 0 pxToRem(20) pxToRem(30) $color-black-gray;
                }
            }
            
            @include tablet {
                top: calc(50% - 358px);
                width: pxToRem(10);
                height: pxToRem(622);
                box-shadow: 0 0 pxToRem(20) pxToRem(30) $color-text-divider;

                @include dark-theme {
                    box-shadow: 0 0 pxToRem(20) pxToRem(30) $color-black-gray;
                }
            }
            
            @include desktop {
                top: calc(50% - 333px);
                width: pxToRem(10);
                height: pxToRem(600);
                box-shadow: 0 0 pxToRem(25) pxToRem(30) $color-text-divider;

                @include dark-theme {
                    box-shadow: 0 0 pxToRem(25) pxToRem(30) $color-black-gray;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;

        @include mobile {
            padding: 0 pxToRem(74);
            padding-bottom: pxToRem(45);
            gap: pxToRem(40);
        }
        
        @include tablet {
            padding: 0 pxToRem(100);
            gap: pxToRem(50);
            padding-bottom: pxToRem(64);
        }
        
        @include desktop {
            padding: 0 pxToRem(200);
            gap: pxToRem(200);
            padding-bottom: pxToRem(42);
        }
    }

    &__iPhoneX {

        @include mobile {
            min-width: pxToRem(227);
            height: pxToRem(444);
        }
        
        @include tablet {
            width: pxToRem(227);
            height: pxToRem(444);
        }
        
        @include desktop {
            width: pxToRem(319);
            height: pxToRem(622);
        }
    }
}