.interface {

    &__header {

        @include mobile {
            margin-bottom: pxToRem(38);
        }
        
        @include tablet {
            margin-bottom: pxToRem(59);
        }
        
        @include desktop {
            margin-bottom: pxToRem(59);
        }
    }

    &__title {
        text-align: center;

        @include mobile {
            span {
                display: block;
            }
        }
        
        @include tablet {
            span {
                display: block;
            }
        }
    }

    &__subtitle {
        text-align: center;
    }

    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            gap: pxToRem(25);
            margin-bottom: pxToRem(61);
        }
        
        @include tablet {
            gap: pxToRem(46);
            margin-bottom: pxToRem(120);
        }
        
        @include desktop {
            gap: pxToRem(25);
            margin-bottom: pxToRem(120);
        }
    }
}

.subtitle-first {

    @include mobile {
        display: block;
        max-width: pxToRem(300);
    }
    
    @include tablet {
        display: none;
    }
    
    @include desktop {
        display: none;
    }
}

.subtitle-second {

    @include mobile {
        display: none;
    }
    
    @include tablet {
        display: block;
        max-width: pxToRem(450);
    }
    
    @include desktop {
        display: none;
    }
}

.subtitle-third {

    @include mobile {
        display: none;
    }
    
    @include tablet {
        display: none;
    }
    
    @include desktop {
        display: block;
        max-width: pxToRem(600);
    }
}

.slider {

    &__images {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        gap: pxToRem(40);
        
        &::-webkit-scrollbar {
            height: pxToRem(15);
        }

        &::-webkit-scrollbar-thumb {
            border-radius: pxToRem(10);
            background-color: rgb(225, 225, 225);
            -webkit-box-shadow: inset 0 0 pxToRem(6) rgba(0,0,0,0.5); 
        }

        &::-webkit-scrollbar-track-piece {
            border-radius: pxToRem(10);
            background: $color-info-main;
            -webkit-box-shadow: inset 0 0 pxToRem(6) rgba(0,0,0,0.3);
        }
    }

    &__iPhoneX {

        @include mobile {
            width: pxToRem(227);
            height: pxToRem(444);
        }
        
        @include tablet {
            width: pxToRem(227);
            height: pxToRem(444);
        }
        
        @include desktop {
            width: pxToRem(319);
            height: pxToRem(622);
        }
    }

    &__dotters {
        display: flex;
        gap: pxToRem(14);
    }

    &__border {
        padding: pxToRem(2);
        
        &:hover {
            padding: pxToRem(2);
            outline: pxToRem(1) solid $color-info-main;
            border-radius: 50%;
        }
    }

    &__dotter {
        display: block;
        width: pxToRem(16);
        height: pxToRem(16);
        border-radius: 50%;
        background: $color-info-main;
    }
}

.download {

    &__content {
        display: flex;

        @include mobile {
            gap: pxToRem(60);
            flex-direction: column;
            align-items: center;
        }
        
        @include tablet {
            gap: pxToRem(28);
            justify-content: center;
        }
        
        @include desktop {
            gap: pxToRem(80);
            justify-content: center;
        }
    }

    &__block {

        @include mobile {
            padding-right: pxToRem(19);
        }

        @include desktop {
            padding-top: pxToRem(17);
        }
    }

    &__header {

        @include mobile {
            max-width: pxToRem(320);
            margin-bottom: pxToRem(41);

            :nth-child(3) {
                display: none;
            }
        }
        
        @include tablet {
            max-width: pxToRem(320);
            margin-bottom: pxToRem(40);

            :nth-child(3) {
                display: none;
            }
        }

        @include desktop {
            max-width: pxToRem(570);
            margin-bottom: pxToRem(31);

            :nth-child(2) {
                display: none;
            }
        }
    }

    &__title {

        @include mobile {
            margin-bottom: pxToRem(16);
            span {
                display: block;
            }
        }
        
        @include tablet {
            margin-bottom: pxToRem(20);
            span {
                display: block;
            }
        }
        
        @include desktop {
            margin-bottom: pxToRem(2);
        }
    }

    &__service {
        display: flex;
        gap: pxToRem(25);

        @include mobile {
            margin-bottom: pxToRem(60);
        }
        
        @include tablet {
            margin-bottom: pxToRem(40);
        }
        
        @include desktop {
            margin-bottom: pxToRem(59);
        }
    }

    &__statistics {
        display: flex;

        @include mobile {
            flex-wrap: wrap;
            gap: pxToRem(18);
        }
        
        @include tablet {
            gap: pxToRem(18);
        }
        
        @include desktop {
            gap: pxToRem(30);
        }
    }

    &__cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $shadows-card;
        background: $color-primary-main;
        color: $color-text-divider;

        @include mobile {
            width: pxToRem(96);
            min-height: pxToRem(100);
            padding-top: pxToRem(11);
            border-radius: pxToRem(5);
        }
        
        @include tablet {
            width: pxToRem(96);
            min-height: pxToRem(100);
            padding-top: pxToRem(11);
            border-radius: pxToRem(5);
        }
        
        @include desktop {
            width: pxToRem(170);
            min-height: pxToRem(176);
            padding: pxToRem(30) 0 pxToRem(20) 0;
            gap: pxToRem(18);
            border-radius: pxToRem(10);
        }
    }

    &__icon {

        @include mobile {
            width: pxToRem(18);
            height: pxToRem(18);
            margin-bottom: pxToRem(8);
        }
        
        @include tablet {
            width: pxToRem(18);
            height: pxToRem(18);
            margin-bottom: pxToRem(8);
        }
        
        @include desktop {
            width: pxToRem(35);
            height: pxToRem(35);
        }
    }

    &__number {
        text-transform: uppercase;
        font-weight: 600;

        @include mobile {
            font-size: pxToRem(20);
            line-height: pxToRem(30);
        }
        
        @include tablet {
            font-size: pxToRem(20);
            line-height: pxToRem(30);
        }
        
        @include desktop {
            font-size: pxToRem(25);
            line-height: pxToRem(25);
        }
    }

    &__text {
        text-align: center;

        @include desktop {
            text-transform: uppercase;
            font-size: pxToRem(20);
            line-height: pxToRem(30);
        }
    }

    &__image {
        
        @include tablet {
            align-self: end;
            margin-bottom: pxToRem(17);
        }
        
        @include desktop {
            margin-bottom: pxToRem(26);
        }
    }

    &__gravity {

        @include mobile {
            width: pxToRem(334);
        }
        
        @include tablet {
            width: pxToRem(334);
        }
        
        @include desktop {
            width: pxToRem(516);
        }
    }
}