body {
    font-family: 'JosefinSans';
}

.header-position {
    position: absolute;
    z-index: 2;
    left: 0;

    @include mobile {
        top: pxToRem(40);
    }

    @include tablet {
        top: pxToRem(18);
    }

    @include desktop {
        top: pxToRem(28);
    }
}

.header {
    width: 100%;

    &__container {

        @include mobile {
            padding: pxToRem(0) pxToRem(16);
        }
    
        @include tablet {
            padding: pxToRem(0) pxToRem(40);
        }
    
        @include desktop {
            padding: pxToRem(0) pxToRem(134);
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include mobile {
            gap: pxToRem(40);
        }
    
        @include tablet {
            gap: pxToRem(28);
        }
    
        @include desktop {
            gap: pxToRem(8);
        }
    }

    &__info {

        @include mobile {
            display: none;
        }
    
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
    
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }

.info {

    &__left {
        display: flex;
        gap: pxToRem(28);
    }

    &__mail {
        display: inline-flex;
        align-items: center;
        gap: pxToRem(18);
        padding: pxToRem(10) pxToRem(10) pxToRem(10) 0;
    }

    &__number {
        display: inline-flex;
        align-items: center;
        gap: pxToRem(18);
        padding: pxToRem(10);
    }

    &__networks {
        display: inline-flex;
        display: flex;
        gap: pxToRem(10);
    }
}
.mail {

    &__favicon {
        width: pxToRem(18);
        height: pxToRem(18);
    }

    &__address {
        color: $color-text-divider;
        font-size: pxToRem(16);
    }
}
.number {

    &__favicon {
        width: pxToRem(18);
        height: pxToRem(18);
    }

    &__phone {
        color: $color-text-divider;
        font-size: pxToRem(16);
    }
}
.networks {

    &__link-facebook {
        padding: pxToRem(10);
    }

    &__link-instagram {
        padding: pxToRem(10);
    }

    &__link-twitter {
        padding: pxToRem(10);
    }

    &__link-youtube {
        
        @include tablet {
            padding: pxToRem(10) pxToRem(0) pxToRem(10) pxToRem(10);
        }
    
        @include desktop {
            padding: pxToRem(10) pxToRem(8) pxToRem(10) pxToRem(10);
        }
    }
}


.menu {

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        background: $color-secondary-main;
        box-shadow: $shadows-card;

        @include mobile {
            justify-content: space-between;
            height: pxToRem(40);
            padding: pxToRem(3);
            border-radius: pxToRem(3);
        }
    
        @include tablet {
            justify-content: space-between;
            height: pxToRem(60);
            padding: pxToRem(5);
            border-radius: pxToRem(5);
        }
    
        @include desktop {
            height: pxToRem(60);
            padding: pxToRem(5);
            border-radius: pxToRem(5);
        }
    }

    &__burger {

        @include mobile {
            width: pxToRem(36);
            height: 100%;
        }

        @include tablet {
            width: pxToRem(50);
            height: 100%;
        }
    
        @include desktop {
            display: none;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: $color-secondary-main;
        box-shadow: $shadows-card;

        @include mobile {
            width: pxToRem(100);
            height: pxToRem(60);
            border-radius: pxToRem(5);
            left: calc(50% - 3.125rem);
            top: calc(50% - 1.875rem);
        }
    
        @include tablet {
            width: pxToRem(200);
            height: pxToRem(90);
            border-radius: pxToRem(5);
            left: calc(50% - 6.5rem);
            top: calc(50% - 2.813rem);
        }
    
        @include desktop {
            width: pxToRem(200);
            height: pxToRem(90);
            border-radius: pxToRem(5);
            left: calc(50% - 6.22rem);
            top: calc(50% - 2.813rem);
        }
    }

    &__image {

        @include mobile {
            width: pxToRem(79);
            height: pxToRem(12);
        }
    
        @include tablet {
            width: pxToRem(167);
            height: pxToRem(28);
        }
    
        @include desktop {
            width: pxToRem(167);
            height: pxToRem(28);
        }
    }

    &__navigation {

        @include desktop {
            display: flex;
            flex: auto;
            justify-content: space-between;
            padding: 0 pxToRem(30) 0 pxToRem(34);
        }
    }

    &__nav-left {
        
        @include mobile {
            display: none;
        }
    
        @include tablet {
            display: none;
        }
    
        @include desktop {
            display: flex;
            align-items: center;
            gap: pxToRem(9);
        }
    }

    &__nav-right {

        @include mobile {
            display: none;
        }
    
        @include tablet {
            display: none;
        }
    
        @include desktop {
            display: flex;
            align-items: center;
            gap: pxToRem(9);
        }
    }

    &__item {
        
        @include desktop {
            font-size: pxToRem(20);
            font-weight: 600;
            color: $color-grey-900;
            text-transform: uppercase;
            padding: pxToRem(15);

            &:hover {
                color: $color-primary-main;
                text-decoration: underline;
            }
        }
    }

    &__btn {

        &:active {
            box-shadow: inset 0 0 pxToRem(7) #000;
        }
    }
}

.burger {

    &__btn-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        &:hover {
            background: rgb(230, 230, 230);
            border-radius: pxToRem(3);
        }
        
        @include desktop {
            display: none;
        }
    }

    &__line {
        position: relative;
        width: pxToRem(18);
        height: pxToRem(2);
        background: $color-grey-900;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: pxToRem(7);
            width: pxToRem(18);
            height: pxToRem(2);
            background: $color-grey-900;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: pxToRem(7);
            width: pxToRem(18);
            height: pxToRem(2);
            background: $color-grey-900;
        }
    }

    &__menu {
        position: fixed;
        top: 0;
        left: -100vh;
        z-index: 1;
        min-width: pxToRem(267);
        height: 100vh;
        border-top-right-radius: pxToRem(10);
        border-bottom-right-radius: pxToRem(10);
        background: $color-secondary-main;
        box-shadow: $shadows-block;
        transition: 0.5s all;
    }

    &__close {
        display: flex;
        justify-content: end;
        padding: pxToRem(15) ;
    }

    &__btn-close {
        padding: pxToRem(10);

        &:hover .burger__btn-line{
            background: rgb(255, 88, 88);
        }
    }

    &__btn-line {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: pxToRem(35);
        height: pxToRem(35);
        border-radius: 50%;
        background: $color-primary-main;

        

        &::before {
            content: "";
            position: absolute;
            width: pxToRem(18);
            height: pxToRem(2);
            background: $color-secondary-main;
            transform: rotate(45deg);
        }

        &::after {
            content: "";
            position: absolute;
            width: pxToRem(18);
            height: pxToRem(2);
            background: $color-secondary-main;
            transform: rotate(-45deg);
        }
    }

    &__menu-wrapper {
        height: calc(100vh - 5.313rem);
        padding: pxToRem(15);
        margin-right: pxToRem(5);
        overflow: auto;

        &::-webkit-scrollbar {
            width: pxToRem(3);
            background-color: $color-secondary-main;
            border-radius: pxToRem(5);
        }

        &::-webkit-scrollbar-thumb {
            background: $color-text-primary;
            border-radius: pxToRem(3);
        }
    }

    &__item {
        display: block;
        padding: pxToRem(10);
        text-transform: uppercase;
        font-size: pxToRem(20);
        font-weight: 600;
        white-space: wrap;
        line-height: pxToRem(30);
        color: $color-grey-900;

        &:hover {
            color: $color-primary-main;
            text-decoration: underline;
        }
    }
}
}

#burger-checkbox {
    display: none;
}

#burger-checkbox:checked ~ .no-scroll .burger__menu {
    left: 0;
}

#burger-checkbox:checked ~ .no-scroll .burger__btn-open {
    display: none;
}

#burger-checkbox:checked ~ .no-scroll {
    position: fixed;
    width: 100vw;
    overflow-y: scroll;
}