.header {
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;

        @include mobile {
            gap: pxToRem(40);
        }
    
        @include tablet {
            gap: pxToRem(28);
        }
    
        @include desktop {
            gap: pxToRem(8);
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;

        @include mobile {
            display: none;
        }
    }
}

.info {

// =====CONTACTS========

    &__contacts {
        display: flex;
        gap: pxToRem(28);
    }

    &__contact-link {
        display: inline-flex;
        align-items: center;
        gap: pxToRem(18);
        padding: pxToRem(10);

        &:first-child {
            padding: pxToRem(10) pxToRem(10) pxToRem(10) 0;
        }
    }

    &__contact-img {
        width: pxToRem(18);
        height: pxToRem(18);
    }

    &__contact-value {
        color: $color-text-divider;
        font-size: pxToRem(16);
    }

// =====NETWORKS=======

    &__networks {
        display: inline-flex;
        display: flex;
        gap: pxToRem(10);
    }

    &__networks-link {
        padding: pxToRem(10);

        &:last-child {
            padding-right: 0;
        }
    }

    &__networks-image {
        width: pxToRem(18);
        height: pxToRem(18);
    }
}

.menu {
    position: relative;

    &__container {
        
        display: flex;
        align-items: center;
        background: $color-secondary-main;
        box-shadow: $shadows-card;

        @include mobile {
            justify-content: space-between;
            height: pxToRem(40);
            padding: pxToRem(3);
            border-radius: pxToRem(3);
        }
    
        @include tablet {
            justify-content: space-between;
            height: pxToRem(60);
            padding: pxToRem(5);
            border-radius: pxToRem(5);
        }
    
        @include desktop {
            height: pxToRem(60);
            padding: pxToRem(5);
            border-radius: pxToRem(5);
        }

        @include dark-theme {
            background: $color-black-gray;
            box-shadow: $shadows-card-dark; 
        }
    }

// ========BURGER==============

    &__burger {
        height: 100%;

        @include mobile {
            width: pxToRem(36);
        }

        @include tablet {
            width: pxToRem(50);
        }
    
        @include desktop {
            display: none;
        }
    }

    &__burger-btn-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        &:hover {
            background: rgb(230, 230, 230);
            border-radius: pxToRem(3);

            @include dark-theme {
                background: $color-purple;
            }
        }
        
        @include desktop {
            display: none;
        }
    }

    &__burger-line {
        position: relative;
        width: pxToRem(18);
        height: pxToRem(2);
        background: $color-grey-900;

        @include dark-theme {
            background: $color-white;
        }

        &::before, &::after {
            content: "";
            position: absolute;
            left: 0;
            width: pxToRem(18);
            height: pxToRem(2);
            background: $color-grey-900;

            @include dark-theme {
                background: $color-white;
            }
        } 

        &::before {bottom: pxToRem(7);}

        &::after {top: pxToRem(7);}
    }

// ========LOGO==============

    &__logo {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: pxToRem(5);
        background: $color-secondary-main;
        box-shadow: $shadows-card;

        @include mobile {
            width: pxToRem(100);
            height: pxToRem(60);
            left: calc(50% - 3.125rem);
            top: calc(50% - 1.875rem);
        }
    
        @include tablet {
            width: pxToRem(200);
            height: pxToRem(90);
            left: calc(50% - 6.5rem);
            top: calc(50% - 2.813rem);
        }
    
        @include desktop {
            width: pxToRem(200);
            height: pxToRem(90);
            left: calc(50% - 6.22rem);
            top: calc(50% - 2.813rem);
        }

        @include dark-theme {
            background: $color-purple;
            outline: 3px solid $color-black-gray;
            box-shadow: $shadows-card-dark;
        }
    }

    &__logo-image {

        @include mobile {
            width: pxToRem(79);
            height: pxToRem(12);
        }
    
        @include tablet {
            width: pxToRem(167);
            height: pxToRem(28);
        }
    
        @include desktop {
            width: pxToRem(167);
            height: pxToRem(28);
        }
    }

// ===========================

    &__navigation {

        @include mobile {
            position: fixed;
            left: -100vw;
            top: 0;
            min-width: pxToRem(270);
            height: 100vh;
            background: $color-secondary-main;
            border-top-right-radius: pxToRem(10);
            border-bottom-right-radius: pxToRem(10);

            @include dark-theme {
                background: $color-black-gray;
            }
        }

        @include tablet {
            position: fixed;
            left: -100vw;
            top: 0;
            min-width: pxToRem(270);
            height: 100vh;
            background: $color-secondary-main;
            border-top-right-radius: pxToRem(10);
            border-bottom-right-radius: pxToRem(10);

            @include dark-theme {
                background: $color-black-gray;
            }
        }

        @include desktop {
            display: flex;
            flex: auto;
            justify-content: space-between;
            padding: 0 pxToRem(30) 0 pxToRem(34);
            box-shadow: none !important;
        }
    }

    &__close {
        display: flex;
        justify-content: end;
        padding: pxToRem(15);
        margin-bottom: pxToRem(15);

        @include desktop {
            display: none;
        }
    }

    &__btn-close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: pxToRem(55);
        height: pxToRem(55);

        &:hover .menu__btn-close-item{
            background: rgb(255, 88, 88);
        }
    }

    &__btn-close-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: pxToRem(35);
        height: pxToRem(35);
        border-radius: 50%;
        background: $color-primary-main;

        @include dark-theme {
            background: $color-purple;
        }

        &::before, &::after {
            content: "";
            position: absolute;
            width: pxToRem(18);
            height: pxToRem(2);
            background: $color-secondary-main;

            @include dark-theme {
                background: $color-dark;
            }
        }

        &::before {transform: rotate(45deg);}

        &::after {transform: rotate(-45deg);}
    }

    &__nav {
        display: flex;
        
        @include mobile {
            flex-direction: column;
            padding: 0 pxToRem(15);
        }
    
        @include tablet {
            flex-direction: column;
            padding: 0 pxToRem(15);
        }

        @include desktop {
            align-items: center;
            gap: pxToRem(9);
        }
    }

    &__item {

        font-weight: 600;
        font-size: pxToRem(20);
        text-transform: uppercase;
        color: $color-grey-900;
        
        @include dark-theme {
            color: $color-white;
        }

        &:hover {
            color: $color-primary-main;
            text-decoration: underline;

            @include dark-theme {
                color: $color-purple;
            }
        }

        @include mobile {
            display: block;
            padding: pxToRem(10);
            line-height: pxToRem(30);
        }

        @include tablet {
            display: block;
            padding: pxToRem(10);
            line-height: pxToRem(30);

            @include dark-theme {
                color: $color-white;
            }
        }
        
        @include desktop {
            padding: pxToRem(15);
        }
    }

    &__btn {

        &:active {
            box-shadow: inset 0 0 pxToRem(7) #000;
        }
    }
}

#burger-checkbox {
    display: none;
}

#burger-checkbox:checked ~ .no-scroll .menu__navigation {
    left: 0;
    box-shadow: $shadows-block;
    @include dark-theme {
        box-shadow: $shadows-block-white;
    }
}

#burger-checkbox:checked ~ .no-scroll .menu__burger-btn-open {
    display: none;
}

#burger-checkbox:checked ~ .no-scroll {
    position: fixed;
    width: 100vw;
    overflow-y: scroll;
}